<footer>
    <div class="container">
        <ul class="social-links">
            <li>
                <a href="https://www.facebook.com/" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
                    <img src="#" alt="Facebook">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" aria-label="instagram" target="_blank" rel="noopener noreferrer">
                    <img src="#" alt="instagram">
                </a>
            </li>
            <li>
                <a href="https://fr.linkedin.com/" aria-label="linkedin" target="_blank" rel="noopener noreferrer">
                    <img src="#" alt="linkedin">
                </a>
            </li>
        </ul>
        <p>&copy; 2025 "Au Petit Village" - Tous droits réservés</p>
    </div>
</footer>