<header>
    <div class="logo">
        <a routerLink="/" aria-label="retour à l'accueil">
            <img src="../../../assets/images/Logo-au-petit-village.avif" alt="Logo de l’entreprise Au Petit Village, image AVIF">
        </a>
    </div>

    <button class="menu-toggle">Menu</button>

    <nav class="isMenuOpen">
        <a routerLink="/">Accueil</a>
        <a routerLink="/about">À propos</a>
        <a routerLink="/product">Produit</a>
        <a routerLink="/contact">Contact</a>
    </nav>

</header>