#contact {
  max-width: 600px;
  margin: auto;
}


form {
  display: flex;
  flex-direction: column;
}

button[type="submit"] {
  margin-top: 1rem;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
}
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border-color: red;
}
