.catalogue {
  padding: 1rem;
}

.catalogue h1 {
  text-align: center;
  margin-bottom: 2rem;
}

/* Grille mobile-first */
.figurines-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

/* image clickable */
.clickable-img {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.clickable-img:hover {
  transform: scale(1.03);
}


/* Responsive : 2 colonnes dès 600px */
@media (min-width: 600px) {
  .figurines-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Responsive : 3 colonnes dès 900px */
@media (min-width: 900px) {
  .figurines-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
