<section class="presentation">
  <h1>Bienvenue chez "Au Petit Village"</h1>
  <p> Découvrez nos figurines artisanales inspirées de l’univers d’Astérix & Obélix, faites main avec passion.</p>
</section>

<section class="recherche-tri">
  <input type="text" placeholder="Rechercher une figurine">

  <select>
    <option value="asc">Prix croissant</option>
    <option value="desc">Prix décroissant</option>
  </select>
</section>

<section class="catalogue">
  <div class="produit">
    <!-- <img [src]="produit.image" alt="produit.nom" /> -->
    <!-- <h3>{{ produit.nom }}</h3> -->
    <!-- <p>{{ produit.description }}</p> -->
    <!-- <p><strong>{{ produit.prix | currency: 'EUR' }}</strong></p> -->
  </div>
</section>