<section class="presentation">
    <h1>Bienvenue chez "Au Petit Village"</h1>
    <p> Découvrez nos <em>figurines artisanales</em> inspirées de l’univers d’<em>Astérix & Obélix</em>, faites main avec passion.</p>
    <a routerLink="/about">
      <button class="btn">En savoir plus</button>
    </a>
  </section>
  
  <section class="recherche-tri">
    <h2>Nos figurines</h2>


    <!-- a refaire -->
    <div>
      <input type="text" placeholder="Rechercher une figurine">
      <button class="btn" >Rechercher</button>
    </div>
  
    <select>
      <option value="asc">Prix croissant</option>
      <option value="desc">Prix décroissant</option>
    </select>
  </section>
  
  <section class="catalogue">
    <div class="produit">
      <!-- <img [src]="product.image" alt="produit.nom" /> -->
      <!-- <h3>{{ product.name }}</h3> -->
      <!-- <p>{{ product.description }}</p> -->
      <!-- <p><strong>{{ product.price | currency: 'EUR' }}</strong></p> -->
    </div>
  </section>