<section class="presentation">
    <h1>Bienvenue chez "Au Petit Village"</h1>
    <p> Découvrez nos <em>figurines artisanales</em> inspirées de l’univers d’<em>Astérix & Obélix</em>, faites main avec passion.</p>
    <a routerLink="/about">
      <button class="btn ">En savoir plus</button>
    </a>
  </section>
  
  <section class="recherche-tri">
    <h2>Nos figurines</h2>


    <!-- a refaire -->
    <div>
      <input type="text" placeholder="Rechercher une figurine">
      <button class="btn" >Rechercher</button>
    </div>
  
    <select>
      <option value="asc">Prix croissant</option>
      <option value="desc">Prix décroissant</option>
    </select>
  </section>
  
  <section class="catalogue">
    <h2 >Entrez dans l’univers d’Astérix et Obélix !</h2>
   <!-- <div *ngFor="let fig of figurines" class="figurines-card">
        <h3>{{ fig.name }}</h3>
        <img [src]="fig.imageUrl" [alt]="fig.name">
        <p>{{ fig.description }}</p>
        <p><strong>{{ fig.price | currency: 'EUR' : 'simbol' : '1.2-2' }}</strong></p>
        <p>{{ fig.inStock }}</p>
    </div> -->
  </section>